<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <!-- sample definition
        <loop name="MySuperLoop" class="OpenApi\Loop\MySuperLoop" />
        -->
    </loops>

    <forms>
        <!--
        <form name="MyFormName" class="OpenApi\Form\MySuperForm" />
        -->
    </forms>

    <commands>
        <!--
        <command class="OpenApi\Command\MySuperCommand" />
        -->
    </commands>


    <services>
        <service id="open_api.router.annotation" class="OpenApi\Service\AnnotationRouter">
            <argument type="service" id="router.filelocator"/>
            <tag name="router.register" priority="255"/>
        </service>
        <service id="open_api.image.service" class="OpenApi\Service\ImageService">
            <argument type="service" id="event_dispatcher"/>
        </service>

        <!--   LISTENERS     -->
        <service id="foo.action" class="OpenApi\EventListener\FooEventListener" >
            <tag name="kernel.event_subscriber"/>
        </service>
        <service id="open_api.order.listener" class="OpenApi\EventListener\OrderListener">
            <argument type="service" id="request_stack"/>
            <tag name="kernel.event_subscriber"/>
        </service>
        <service id="open_api.exception.listener" class="OpenApi\EventListener\ExceptionListener">
            <argument type="service" id="open_api.model.factory"/>
            <tag name="kernel.event_subscriber"/>
        </service>

        <!--    MODELS    -->
        <service id="open_api.model.factory" class="OpenApi\Model\Api\ModelFactory" >
            <argument type="service" id="service_container"/>
        </service>
        <service id="open_api.model.error" class="OpenApi\Model\Api\Error" >
            <argument type="service" id="open_api.model.factory"/>
            <tag name="open_api.model" alias="Error"/>
        </service>
        <service id="open_api.model.address" class="OpenApi\Model\Api\Address" >
            <argument type="service" id="open_api.model.factory"/>
            <tag name="open_api.model" alias="Address"/>
        </service>
        <service id="open_api.model.civility_title" class="OpenApi\Model\Api\CivilityTitle" >
            <argument type="service" id="open_api.model.factory"/>
            <tag name="open_api.model" alias="CivilityTitle"/>
            <tag name="open_api.model" alias="Title"/>
        </service>
        <service id="open_api.model.customer" class="OpenApi\Model\Api\Customer" >
            <argument type="service" id="open_api.model.factory"/>
            <tag name="open_api.model" alias="Customer"/>
        </service>
        <service id="open_api.model.language" class="OpenApi\Model\Api\Language" >
            <argument type="service" id="open_api.model.factory"/>
            <tag name="open_api.model" alias="Language"/>
            <tag name="open_api.model" alias="Lang"/>
        </service>
    </services>


    <!--
    <hooks>
        <hook id="openapi.hook" class="OpenApi\Hook\MySuperHook">
            <tag name="hook.event_listener" event="main.body.bottom" type="front|back|pdf|email" method="onMainBodyBottom" />
        </hook>
    </hooks>
    -->

    <!--
    <exports>

    </exports>
    -->

    <!--
    <imports>

    </imports>
    -->
</config>
