<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swagger UI</title>
    <link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@3/swagger-ui.css">
    <script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js" charset="UTF-8"></script>

</head>
<body>
    <div id="swagger-ui"></div>
    
    <script>
        const ui = SwaggerUIBundle({
            spec: {$spec nofilter},
            //spec: {},
            dom_id: '#swagger-ui',
        })
    </script>
</body>
</html>